<main>
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <%= form_with model:@user, local:true do |f| %>
     <label>Name</label>
      <div class="form_control"><%= f.text_field :name %></div>
    <label>Image</label>
      <div class="form_control"><%= f.attachment_field :profile_image %></div>
    <label>Introduction</label>
      <div class="form_control"> <%= f.text_area :introduction %></div>
      <div class="actions"><%= f.submit 'Update User' %></div>
    <% end %>
 </div>
</div>
</div>
</main>