<p id="notice"><%= notice %></p>
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>Editing Book</h2>
        <% if @book.errors.any? %>
        <div class="alert alert-warning">
          <h3>
            <%= pluralize(@book.errors.count, "error") %> prohibited this model from being saved:
          </h3>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%= form_with model: @book,  local: true do |f| %>
        <label>Title</label>
        <div><%= f.text_field :title, class: "form-control book_title"%></div>
        <label>Opinion</label>
        <div><%= f.text_area :body, class: "form-control book_body" %></div>
        <div class="actions"><%= f.submit "Update Book", class: "btn btn-success" %></div>
        <% end %>
        <%= link_to "Show", book_path(@book.id), class: 'book_4099' %> |
        <%= link_to "Back", books_path, class: 'Back' %>
      </div>
    </div>
  </div>
</main>