<p id="notice"><%= notice %></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/list', book: @new_book, user: @book.user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'layouts/search_header'%>
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <div class="image_box">
                <%= link_to user_path(@book.user) do %>
                <%= attachment_image_tag @book.user, :profile_image, :fill, 40,40, fallback: "no_image_2.jpg" %>
                <% end %>
                <br>
                <p><%= link_to @book.user.name, user_path(@book.user) %></p>
              </div>
            </td>
            <td><%= link_to @book.title, book_path(@book.id) %></td>
            <td><%= @book.body %></td>
            <td>
              <div id="good_<%= @book.id %>">
                <%= render partial: 'favorites/good', locals: { book: @book } %>
              </div>
            </td>
            <td>
              <% unless @book.user == current_user %>
                <% if current_user.following?(@book.user) %>
                  <%= link_to 'フォロー外す', unfollow_path(@book.user.id), method: :POST %>
                <% else %>
                  <%= link_to 'フォローする', follow_path(@book.user.id), method: :POST %>
                <% end %>
              <% end %>
            </td>
            <% if current_user==@book.user%>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-sm btn-success edit_book_4080' %></td>
            <td>
              <%= link_to "Destroy", book_path(@book.id), method: :delete, class: 'btn btn-sm btn-danger destroy_book_4080' ,"data-confirm" => "本当に消しますか？"%>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
        <h2>Book comment</h2>
         <table class="table table-hover table-inverse">
         <tbody>
            <tr>
              <td>
               <div id="comment_<%= @book.id %>">
                <%= render partial: 'book_comments/comments', locals: { book: @book } %>
              </div>
              </td>
            </tr>
         </tbody>
         </table>
    </div>
    <div class="new-comment">
      <h2>New comment</h2>
     <%= form_with(model:[@book, @book_comment]) do |f| %>
      <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", id: 'comment_area' %>
      <div><%= f.submit "送信する" %></div>
      <% end %>
　　</div>
  </div>
</div>